<main>


<h1>New Goal</h1>
    <%= form_for @goal do |f| %>
        <% if @goal.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this post from being saved:</h2>
                <ul>
                <% @goal.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>

        <div>
            <%= f.label :private %>
            <%= f.check_box :private %>
        </div>
        <div>
            <%= f.label :completed %>
            <%= f.check_box :completed %>
        </div>
        <div>
            <%= f.submit %>
        </div>
    <% end %>

</main>